
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
#top_wrap{
  width:150px;
  height:40px;
  margin-top:10px;
}
#top_wrap_video{
  width:150px;
  height:40px;
  margin-top:-7px;
}
#lbShare{
  width:93px;
  height:23px;
  float:left;
  margin-top:10px;
  padding:0px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #969698;
}

.p_source{
   font-style:italic;
   margin-left:5px;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0px;
   color: #969698;
}
.p_source_mid{
   font-style:italic;
   margin-left:5px;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0px;
   color: #969698;
}
.p_date, .p_top, .p_mid, .p_bottom, .p_line_4, .p_line_5{
  margin-left:5px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #969698;
}
.title_image{
  margin-bottom: 6px;
  width:150px;
  max-width: 204px;
}
.title_image img {
width:200px;
}
.light_box_wrap{
    width:900px;
	 margin:0 95px 0 75px;
    position: relative;
}
.break_line_01{
    width:150px;
    height:3px;
    background-image:url('../img/a_closer_look/concierge/concierge_line.png');
    margin-bottom:14px;
    margin-top: 5px;
}
.break_line_02{
    width:150px;
    height:3px;
    background-image:url('../img/a_closer_look/concierge/concierge_line.png');
    margin-top:14px;
}
.left_social{
  float:left; width:200px; margin-right:20px;  
}
.right_social{
   float:left; 
}

li{
    list-style-type:none;
    margin:0px;
    padding:0px;
}


#wrapper { 
  float:center; 
  width:100%; 
  background-color: #e9e9ea;
}

#container { 
    list-style: none; 
    float:center;
    margin: 0 9px 18px 0;
    padding-bottom: 18px;
}
#container li { 
    float: left; 
    margin: 1.75em 0 0 1.7em;
    border-radius: 0px; 
    font-size: 10px; 

    -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#container li:hover{
  opacity: 1;
}
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/* Single Press Style + Share Button */

.light_box_wrap .mr_social_sharing_wrapper{
  width:57px;
  height:23px;
  float:right;
  margin-top:7px;
  padding:0px;
}

.light_box_wrap .mr_social_sharing{
  margin-left: 6px;
  float: right;
}
/*no border of the share button image*/
.mr_social_sharing img{
  border:0px;
}

#btn_wrap{
  width:150px;
  height:50px;
  margin-top: 20px;
}
#prev_article{
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #969698;
  text-transform: uppercase;
  font-weight: bold;
}
#prev_article:hover{
  color: rgb(38,235,201);
}
#next_article{
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #969698;
  text-transform: uppercase;
  font-weight: bold;
}
#next_article:hover{
  color: rgb(38,235,201);
}
a {
    text-decoration: none;
}
.p_source_link{
  width: 100%;
  height:16px;
}
.p_source_link a{
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: rgb(38,235,201);
  text-transform: uppercase;
  font-weight: bold;
  margin-left:5px;
}
.p_source_link a:hover{
  color: #969698;
}
