<?php
/**
 * This file is the content of the <footer> tag
 */
?>

<div class="footer content">
    <div class="block newsletter">
        <div class="title"><strong>Newsletter</strong></div>
        <div class="content">
            <?php // echo $block->getChildHtml('subscribe'); // it's not working, I need to add the block ?>
            <form class="form subscribe" novalidate="novalidate" action="/newsletter/subscriber/new/" method="post"
                id="newsletter-validate-detail">
                <div class="field newsletter">
                    <label class="label" for="newsletter"><span>Sign Up for Our Newsletter:</span></label>
                    <div class="control">
                        <input name="email" type="email" id="newsletter" placeholder="Enter your email address"
                            data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="actions">
                    <button class="action subscribe primary" title="Subscribe" type="submit">
                        <span>Subscribe</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="social-media-container">
            <ul>
                <li><a target="_blank" href="http://facebook.com/apabeauty"><i class="icon-facebook"></i></a></li>
                <li><a target="_blank" href="http://www.instagram.com/apabeauty/"><i class="icon-instagram"></i></a></li>
                <li><a target="_blank" href="http://www.twitter.com/ApaBeauty"><i class="icon-twitter"></i></a></li>
                <li><a target="_blank" href="http://www.pinterest.com/apabeauty"><i class="icon-pinterest"></i></a></li>
                <!--<li><a href="#"><i class="icon-youtube"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-google-plus"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-linkedin"></i></a></li>-->
            </ul>
        </div>
    </div>

    <div class="cols">

        <div class="links">
            <div class="block-title"><strong><span>Apa Beauty</span></strong></div>
            <p>ADVANCED. PRESTIGE. AESTHETIC. FOUNDED BY RENOWNED COSMETIC DENTIST DR. MICHAEL APA, APA BEAUTY
                IS TRANSFORMING THE WAY PEOPLE THINK ABOUT THEIR SMILES WITH A REVOLUTIONARY LINE OF ORAL CARE
                COSMETICS THAT ARE ENGINEERED TO ENHANCE YOUR SMILE AND DESIGNED TO FIT BEAUTIFULLY INTO YOUR
                LIFESTYLE.</p>
        </div>

        <div class="footer links">
            <div class="block-title"><strong><span>Our Company</span></strong></div>
            <ul>
                <li><a href="/about.html">The Story</a></li>
                <li><a href="/experience/radiance-care.html/">Radiance Care</a></li>
                <li><a href="/experience/daily-foundation-care.html/">Foundation Care</a></li>
                <li><a href="/presscontent/index/page/">Press</a></li>
                <li><a href="/catalogsearch/advanced/">Search</a></li>
                <li class="nav item"><a href="/catalogsearch/advanced/" data-action="advanced-search">Advanced Search</a></li>

                <li class="nav item"><a href="/search/term/popular/">Search Terms</a></li>
            </ul>
        </div>

        <div class="footer links">
                <div class="block-title"><strong><span>Help &amp; Info</span></strong></div>
                <ul>
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/customer/account/">My Account</a></li>
                    <li><a href="/shipping/">Shipping &amp; Returns</a></li>
                    <li><a href="/privacy-policy/">Privacy policy</a></li>
                    <li><a href="/accessibility-statement/">Accesibility statement</a></li>
                    <li><a href="/terms-of-use/">Temrs of use</a></li>
                    <li><a href="/catalog/seo_sitemap/category/">Site map</a></li>
                    <li class="nav item"><a href="/sales/guest/form/">Orders and Returns</a></li>
                </ul>
            </div>

    </div>
</div>

<div class="footer-bottom-container">
    <address class="copyright">© 2013 - <?=date('Y')?> Apa Beauty, All Rights Reserved</address>
</div>
