// Legacy styles
@import "../../magento1/frontend/apa/default/css/madisonisland.css";

@import (inline) "_fonts.css";


// Splitting to easy maintain
@import 'pages/_footer';
@import 'pages/_homepage';
@import 'pages/_products_list';

@themeBlue: #90d6d2;

@active__color: @themeBlue;
@color-blue1: @themeBlue;
@color-blue2: @themeBlue;

body {
    // font-family: 'Lato', sans-serif;
    font-family: 'DIN Next W01 Regular', sans-serif;
    header.page-header {
        background-color: black;
        .panel.wrapper {
            border: 0;
            background-color: unset;

            // change header, move login links to the left
            .header.panel > .header.links {float: left;}
            .header.content {margin: 0;}
        }

        .logo {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            @media all and (max-width: 768px) {
                margin-top:   -10px;
                margin-bottom: 0;

            }
            @media all and (min-width: 768px) {
                margin: -70px auto 0px auto;
            }
            img {
                max-height: inherit;
                display: inline-block;
            }
        }
        // change the header, search moved a bit to the top to use the space left by the login links
        .block-search, .minicart-wrapper {top: -40px;}
    }

    .nav-sections {
        background: white;
        border-bottom: 1px solid;
        nav {
            background: white;
            text-align: center;

            .submenu a {
                text-align: left;
            }
        }
        .navigation .level0 {
            margin-left: 25px;


            &.active     > .level-top,
            &.has-active > .level-top {
                border-color: @themeBlue;
                border-width: 0 0 4px;
            }
        }

    }
}