/**
 * Import Avenir alike font, Lato
 */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/**
 * Magento1 theme fonts
 */
@font-face {
    font-family: 'DIN Next W01 Regular';
    src: url('/pub/static/frontend/Apa/apabeauty/en_US/magento1/frontend/apa/default/fonts/DINRegular.ttf')   format('truetype');
    src: url('/pub/static/frontend/Apa/apabeauty/en_US/magento1/frontend/apa/default/fonts/DINRegular.woff')  format('woff');
    src: url('/pub/static/frontend/Apa/apabeauty/en_US/magento1/frontend/apa/default/fonts/DINRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'DIN Next W01 Light';
    src: url('/pub/static/frontend/Apa/apabeauty/en_US/magento1/frontend/apa/default/fonts/DINMedium.ttf') format('truetype');
    src: url('/pub/static/frontend/Apa/apabeauty/en_US/magento1/frontend/apa/default/fonts/DINMedium.woff')  format('woff');
    src: url('/pub/static/frontend/Apa/apabeauty/en_US/magento1/frontend/apa/default/fonts/DINMedium.woff2') format('woff2');
}