
footer.page-footer  {
    padding-bottom: 0;
    font-size: 10px;

    .footer.links li{
        margin:    0 0 4px;
        font-size: 10px;
    }

    .social-media-container {
        text-align: center;
        font-size: 30px;
        ul li {
            display: inline-block;
            padding-right: 16px;
            padding-top: 20px;
        }
    }


    .cols {
        @media all and (min-width: 768px) {
            display: grid;
            grid-template-columns: 30vw 20vw 20vw;
        }
    }
}