/**
 * Customizations to the homepage
 */
body.cms-home {

    // remove space between nav and slider
    .nav-sections {
        margin: 0;
    }

    // remove spaces for the slider
    main#maincontent {
        padding: 0;

        .columns .column.main {padding: 0;}
    }
}


/**
 * This file extracts the CSS in the databse, for the apa|homepage page.
 *
 * The reason is to remove the CSS form the database as it's harder to maintain.
 */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    margin-top: 0px;
    margin-bottom: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-container {
    max-width: 100% !important;
}
.right {
    float: right;
    font-size: 4em !important;
    font-weight: 400 !important;
    height: 80%;
    line-height: 60px;
    margin: 5%;
    text-align: center;
    width: 40%;
}
.center {
    font-size: 4em !important;
    font-weight: 400 !important;
    line-height: 60px;
    padding-top: 21%;
    text-align: center;
}

.mob {display:none;}
.desk {display:block;}

@media screen and (max-width: 800px) {
    .desk {display:none;}
    .mob {display:block;}
    .right {
        width: 100% !important;
    }
    .right {
        line-height: 1em;
        margin: 0 !important;
        padding-top: 13%;
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    .right, .center {
        font-size:3em !important;
    }
}