
/**
 * There is another rule that hides the top toolbar on the products page,
 * hiding the count of products per page.
 */
.toolbar.toolbar-products {
    position: unset;
}

.page-products  {
    // center text in the products list
    .product-item-name { text-align: center;}


    .products-grid {

         // remove box shadow on product hover
        .product-item-info:hover,
        .product-item-info.active {
            box-shadow: unset;
            border: 1px solid white;
        }


        // hide actions under product name
        .price-box {display: none;}
        .product-item-info:hover, .product-item-info.active {
            .product-item-inner {display: none;}
        }
    }
}
