.category-radiance-care .col-main,
.category-daily-foundation-care .col-main,
.category-about .col-main {
    .h-lead {
        font-size: 22px;
        font-family: $f-stack-special;
        margin-bottom: 8px;
        padding-top: 5px;
    }
    .h-huge {
        font-size: 60px;
        font-family: $f-stack-sans;
        line-height: 50px;
        margin-bottom: 30px;
        margin-left: -3px;
    }

    .product-title {
        font-family: $f-stack-special;
        text-transform: uppercase;
    }
    .step-title {
        font-family: $f-stack-sans;
    }
    // blockquote
    blockquote {
        @include clearfix();
        float: right;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid $c-mint;
        font-size: 13px;
        font-family: $f-stack-special;

        &:before {
            content: url(../images/blockquote.png);// no-repeat;
            position: relative;
            top: -86px;
            left: -36px;
            float: left;
            height: 0;
            width: 0;
        }

        .quote-footer {
            font-family: $f-stack-sans;
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        blockquote {
            margin-right: 50px;
            margin-top: -59px;
            padding: 20px 22px;
        }
    }
}

.category-radiance-care .col-main,
.category-daily-foundation-care .col-main {

    width: 1100px;
    margin: 0 auto;

    .page-title {
        display: none;
    }

    .page-heading {
        text-align: left;
    }

    @include bp(min-width, $bp-medium + 1) {
        .apa-col-left {
            float: left;
            width: 515px;
            margin-right: 68px;
            padding-left: 94px;
            text-align: right;
        }
        .apa-col-right {
            float: right;
            width: 515px;
        }

        #foundation-title {
            margin-top: 0;

            p {
                width: 75%;
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    .desktop {
        display: none !important;
    }
    .not-desktop {
        display: inherit !important;
    }
}

@include bp(min-width, $bp-medium + 1) {
    .desktop {
        display: inherit !important;
    }
    .not-desktop {
        display: none !important;
    }
}

.apa-col-left {
    .step-number,
    .step-title,
    .product-description,
    .product-title,
    .button {
        float: right;
        @include clearfix;
    }
}

@include bp(min-width, $bp-medium + 1) {

    .step-copy {
        .step-number {
            margin-bottom: 30px;
        }
        .step-title {
            //        @include clearfix;
            font-size: 30px;
            line-height: 28px;
        }
        .product-title {
            //        @include clearfix;
            font-size: 13px;
            line-height: 23px;
            text-transform: uppercase;
        }
        .product-description {
            //        @include clearfix;
            font-size: 13px;
            line-height: 18px;
        }
        .button {
            //        @include clearfix;
            margin-top: 13px;
            min-width: 200px;
        }
    }

    #foundation-quote,
    #radiance-quote {
        margin-top: 115px;
    }

    #foundation-step-one {
        .step-image {
            float: left;
            margin-top: 40px;
            margin-left: 85px;
        }
        .step-copy {
            margin-top: 78px;

            .step-number {
                margin-left: -10px;
            }
            .product-description {
                width: 80%;
            }
        }
    }

    #foundation-step-two {
        .step-image {
            margin-left: 485px;
            margin-top: -264px;
        }
        .step-copy {
            margin-top: -325px;
        }
        .product-description {
            width: 95%;
        }
    }

    #foundation-step-three {
        margin-top: 220px;

        .step-image {
            margin-left: -526px;
            margin-top: 223px;
        }

        .step-copy {
            margin-top: -150px;

            .step-number {
                margin-left: -5px;
            }
            .product-description {
                width: 77%;
            }
        }
    }

    #foundation-step-four {
        .step-image {
            margin-top: 73px;
            margin-left: -15px;
        }
        .step-copy {
            margin-top: 28px;
            margin-left: -10px;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: $bp-medium) {
    .category-radiance-care .col-main,
    .category-daily-foundation-care .col-main {
        width: auto;

        .apa-col-left,
        .apa-col-right {
            width: 100%;
            @include clearfix;
        }
    }
}

@include bp(max-width, $bp-medium) {

    blockquote {
        margin-right: 0;
        margin-top: 75px;
        padding: 30px 22px;
    }

    .h-lead {
        font-size: 22px;
        font-family: $f-stack-special;
        margin-bottom: 0;
    }
    .h-huge {
        font-size: 48px;
        font-family: $f-stack-sans;
        line-height: 48px;
        margin-bottom: 30px;
    }

    .step-copy {
        .step-number {
            margin-bottom: 43px;
        }
        .step-title {
            font-size: 30px;
            line-height: 33px;
        }
        .product-title {
            font-size: 15px;
            line-height: 23px;
//            margin-bottom: 20px;
        }
        .product-description {
            font-size: 15px;
            line-height: 18px;
        }
        .button {
            margin-top: 13px;
            min-width: 166px;
        }
    }

    #foundation-title {
        margin-top: 0;

        p {
            font-size: 14px;
            width: 75%;
            line-height: 19px;
        }
    }

    #foundation-quote {
        margin-top: 10px;
    }

    #foundation-step-one {
        padding-top: 50px;
        clear: both;

        .step-image {
            width: 85%;

            img {
                width: 100%;
            }
        }
        .step-copy {
            float: right;
            width: 56%;
            margin-top: -90px;
            text-align: right;
        }
    }

    #foundation-step-two {
        .step-image {
            float: right;
            width: 42%;
            margin-top: 50px;
        }
        .step-copy {
            float: left;
            width: 50%;
            margin-top: 50px;
            text-align: right;
        }
    }

    #foundation-step-three {
        .step-image {
            float: left;
            width: 44%;
            margin-left: 100px;
            margin-top: 60px;
        }
        .step-copy {
            width: 56%;
            margin-top: -90px;
            float: left;
        }
    }

    #foundation-step-four {
        .step-image {
            margin-top: 73px;

            img {
                width: 100%;
            }
        }

        .step-copy {
            margin-top: 37px;
            text-align: right;

            .product-description {
                width: 50%;
            }
        }
    }
}

@include bp(max-width, 500px) {
    .step-image {
        padding: 0;

        img {
            width: 100%;
        }
    }
}

@media only screen and (min-width: $bp-medium + 1) and (max-width: 1099px) {
    blockquote {
        margin-right: 150px !important;
    }
}

/**
 * RADIANCE PAGE
 */



@include bp(min-width, $bp-medium + 1) {
    .category-radiance-care {
        .apa-col-left {
            width: 446px !important;
            margin-right: 126px !important;
        }
    }
}


#radiance-step-one {

    .step-image {
        margin-top: 74px;
        margin-left: 62px;
    }
    .step-copy {
        margin-top: -92px;
    }
}

#radiance-step-two {
    .step-image {
        margin-top: -55px;
        margin-left: -50px;
    }
    .step-copy {
        margin-top: -37px;
    }
    .product-description {
        width: 80%;
    }
}

#radiance-step-three {
    .step-image {
        margin-left: 397px;
        margin-top: -62px;
    }
    .step-copy {
        margin-top: -343px;
    }
}

#radiance-step-four {
    clear: right;
    margin-top: 117px;

    .product-description {
        width: 80%;
    }
}

.apa-full {
    @include clearfix;
    width: 100%;

    img {
        margin: 0 auto;
        padding-top: 30px;
        width: 100%;
    }
}

@media only screen and (min-width: 501px) and (max-width: $bp-medium) {
    .category-radiance-care,
    .category-daily-foundation-care {
        .apa-col-left,
        .apa-col-right {
            width: 100% !important;
            @include clearfix;
        }
    }
}

@include bp(max-width, $bp-medium) {



    blockquote {
        margin-top: 96px;
    }

    .category-radiance-care {
        .step-copy {
            .step-number {
                margin-bottom: 30px !important;
            }
        }
    }

    #radiance-step-one {
        .step-image {
            margin-top: 60px;
            margin-left: 137px;

            img {
                width: 287px;
            }
        }

        .step-copy {
            margin-top: -183px;

            .product-description {
                width: 56%;
            }
        }
    }

    #radiance-step-two {
        .step-image {
            margin-top: 4px;
            margin-left: 290px;
        }

        .step-copy {
            margin-top: -266px;

            .product-description {
                width: 50%;
            }
        }
    }

    #radiance-step-three {
        .step-image {
            float: right;
            width: 30%;
            margin: 0;

            img {
                margin: 0 auto;
            }
        }

        .step-copy {
            float: left;
            width: 65%;
            margin: 0;

            .product-description {
                width: 85%;
                text-align: right;
            }
        }
    }

    #radiance-step-four {
        margin-top: -168px;
    }
}

@include bp(max-width, 500px) {

    blockquote {
        &:before {
            left: -23px !important;
        }
    }

    #foundation-title {
        .page-heading {
            p {
                width: 100%;
            }
        }
    }

    #foundation-step-one {
        .step-image {
            float: none;
            width: 100%;
            padding: 0;

            img {
                width: 100%;
                //margin: 0 auto;
            }
        }
        .step-copy {
            float: right;
            width: 75%;
            margin-top: 40px;
        }
    }

    #foundation-step-two {
        .step-image {
            width: 35%;
            margin-top: 70px;

            img {
                margin: 0 auto;
            }
        }
        .step-copy {
            width: 60%;
            margin-top: 60px;
        }
    }
    #foundation-step-three {
        .step-image {
            margin-top: 100px;
            padding: 0;
            width: 75%;
            margin-left: 0;
            float: right;
        }
    }

    #foundation-step-four {
        @include clearfix;

        .step-copy {
            .product-description {
                width: 90%;
            }
        }
    }



    #radiance-step-one {

        clear: both;
        padding-top: 50px;

        .step-image {
            float: right;
            width: 60%;
            margin: 0 68px 0 0;

            img {
                width: 100%;
            }
        }
        .step-copy {
            margin: 0;
            float: right;
            width: 100%;
            margin-top: -92px;

            .product-description {
                width: 75%;
                text-align: right;
            }
        }
    }

    #radiance-step-two {
        padding-top: 50px;
        clear: both;

        .step-image {
            float: right;
            margin: 0;
            width: 70%;
        }
        .step-copy {
            float: left;
            margin-top: -96px;

            .product-description {
                width: 75%;
            }
        }
    }

    #radiance-step-three {
        padding-top: 50px;
        clear: both;

        .step-image {
            img {
                width: 50%;
            }
        }
        .step-copy {
            .step-title {
                text-align: right;
            }
            .product-description {
                width: 100%;
            }
        }
    }

    #radiance-step-four {
        margin-top: 0;
        padding-top: 40px;
        clear: both;

        .step-copy {
            .product-description {
                width: 75%;
            }
        }
    }

    .apa-full {
        img {
            width: 100%;
        }
    }
}


/**
 * ABOUT PAGE
 */

@include bp(min-width, 1100px) {
    .category-about .col-main {
        width: 1100px;
    }
}

.category-about {
    p {
        font-size: 13px;
        line-height: 18px;
    }

    .page-title {
        display: none;
    }

    .h-huge {
        margin-left: 0 !important;
    }

    .apa-col-left {
        float: left;
        width: 53%;
    }

    .apa-col-right {
        float: right;
        width: 47%;
    }

    p.p-transforming {
        width: 80%
    }

    p.p-unable {
        @include clearfix;
        text-align: right;
        padding-right: 75px;
        padding-left: 140px;
        padding-top: 46px;
    }

    .great-smile-quote {
        clear: both;
        blockquote {
            padding: 20px 37px;
            margin-top: -20px;
        }

    }

    .hero-break {
        @include clearfix;
        text-align: center;
        width: 100%;
        padding-top: 27px;
    }

    #all-products {
        margin-top: -25px;
        img {
            float: right;
        }
    }

    @include bp(max-width, $bp-medium) {
        #all-products {
            margin-top: 20px;
            padding-bottom: 20px;

            img {
                float: none;
            }
        }
    }

    .prod-under-dr-apa-1 {
        margin-left: -88px;
        margin-top: 16px;
    }

    .many-para {
        p {
            width: 87%;
        }
    }

    .three-things {
        margin-top: -126px;
        margin-left: 120px;
    }
}

@include bp(max-width, $bp-medium) {
    .category-about {
        p.p-transforming {
            width: 90%;
        }

        .dr-apa-gel,
        .prod-under-dr-apa-1,
        #all-products {
            img {
                margin: 0 auto;
            }
        }

        #all-products,
        .dr-apa-gel,
        .prod-under-dr-apa-1 {
            img {
                width: 100%
            }
        }

        .prod-under-dr-apa-1 {
            margin: 0;
        }

        .great-smile-quote {
            width: 90%;
            margin: 0 auto;

            blockquote {
                margin-top: 0;
            }
        }

        p.p-unable {
            padding: 0;
            width: 90%;
            text-align: left;
            margin: 0 auto;
            padding-top: 40px;
        }

        .many-para {
            padding-top: 50px;
            clear: both;
            float: none;
            width: 90%;

            p {
                width: 100%;
            }
        }
    }
}

@include bp(max-width, 500px) {
    .col-main,
    .apa-col-left,
    .apa-col-right {
        width: 100% !important;
        float: none !important;
    }

    .h-lead {
        font-size: 18px !important;
    }
    .h-huge {
        font-size: 32px !important;
        line-height: 32px !important;
    }
}

@include bp(max-width, 500px) {
    .category-about {

        .dr-apa-gel,
        .prod-under-dr-apa-1,
        #all-products,
        .dr-apa-white-gel,
        .three-things {
            img {
                width: 100%;
            }
        }
        .prod-under-dr-apa-1,
        .three-things {
            margin: 0;
        }
    }
}