.apa-row {

    .col-25,
    .col-33,
    .col-50 {
        width: 100%;
        float: none;
    }

    margin-bottom: 1%;

    img {
        width: 100%;
        //margin-bottom: 1%;
    }

    @include clearfix;

    @include bp(min-width, $bp-small + 1) {

        img {
            margin-bottom: 1%;
        }

        .col-50 {
            float: left;
            width: 49.5%;
            margin-right: 1%;
        }
        .col-50:last-child {
            margin-right: 0;
        }

        .col-33 {
            float: left;
            width: 32.666666666%;
            margin-right: 1%;
        }
        .col-33:last-child {
            margin-right: 0;
        }

        .col-25 {
            float: left;
            width: 24.25%;
            margin-right: 1%;
        }
        .col-25:last-child {
            margin-right: 0;
        }
    }
}
