/* ============================================ *
 * Icon Font Styles
 * ============================================ */

/*background-image: url(../images/icon_sprite.png);*/

@font-face {
  font-family: 'apa';
  src: url('../fonts/apa.eot');
  src: url('../fonts/apa.eot?#iefix') format('embedded-opentype'), url('../fonts/apa.woff') format('woff'), url('../fonts/apa.ttf') format('truetype'), url('../fonts/apa.svg#apa') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
  font-family: 'apa';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Use the following CSS code if you want to have a class per icon */

/*
 Instead of a list of all class selectors,
 you can use the generic selector below, but it's slower:
 [class*="icon-"] {
 */
[class*="icon-"] {
  font-family: 'apa';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-shopping-bag:before {
  content: "\e000";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-search:before {
  content: "\e001";
}
.icon-user:before {
  content: "\e002";
}
.icon-menu:before {
  content: "\e003";
}