img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
#page{
	width: 100%;
	min-width:1024px;
	margin: 0 auto;
	/*background-color: rgb(38,234,201);*/
}

#content{
	width: 1106px;/* CENTER THE CONTENT */
	margin: 0 auto; /* CENTER THE CONTENT */
	margin-bottom: 0px;	
}

