@import "apa/icon_font";
@import "apa/slick_slider";
@import "apa/rateit";
@import "apa/about";
@import "apa/sharing";
@import "apa/apa-grid";

.hero {
    img {
        width: 100%;
    }
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.feature-block {
    h3 {
        font-family: $f-stack-special;
        font-size: 16px;
    }
}

.store-language-container {
    display: none;
}

header {
    a:focus {
        outline-color: $c-text-white;
        color: $c-text-white
    }
}

.carousel-container {
    .block-title {
        strong {
            font-size: 16px;
        }
    }
}

.cap-overlay {
    width: 100%;
    color: #fff;
    background: rgba(255, 255, 255, 0.7);
    left: 0;
    text-align: center;

    h2 {
        margin-top: 33%;
        font-size: 22px;
    }
    h3 {
        font-size: 60px;
        line-height: 50px;
        font-family: $f-stack-ultra;
    }
}

.col-33 {
    .cap-overlay {
        h3 {
            font-size: 40px;
            line-height: 40px;
        }
    }
}

.col-25 {
    .cap-overlay {
        h3 {
            font-size: 32px;
            line-height: 32px;
        }
    }
}

@include bp(max-width, 850px) {
    .col-50 {
        h3 {
            font-size: 48px;
            line-height: 48px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 849px) {
    .col-50 {
        h3 {
            font-size: 40px;
            line-height: 40px;
        }
    }
    .col-33 {
        h3 {
            font-size: 24px;
            line-height: 24px;
        }
    }
}
